@page "/multi-player"
@using TicTacToe.Data.Game;
@using TicTacToe.Data.Game.Managers;
@using TicTacToe.Data.Enums;
@inherits MultiPlayerComponent;
@inject NavigationManager navigationManager


<h3>MultiPlayer</h3>

@if (GameManager.IsGameFinished)
{
    <AlertDialog Title="@EndGameTitle" Content="@EndGameMessage" OnOkClicked="@PlayAgain"></AlertDialog>
}

<GameBoard GameManager="@GameManager" OnTileClicked="@((i) => HandleTileClick(i))" PlayerCell="@PlayerCell"></GameBoard>
@code{
    protected override async void OnInitialized()
    {
        contextBuilder = new GameContext.Builder(GameMode.MP);
        GameManager = new GameManager(contextBuilder.Build());
        hubUrl = navigationManager.BaseUri.TrimEnd('/') + MultiPlayerHub.HubUrl;
        await ConnectPlayer();
    }
}