@page "/single-player/{local?}"
@inherits SinglePlayerComponent;
@inject NavigationManager UriHelper;

<div class="game-board-container">
    <h1>Single Player @Local</h1>
    <div class="d-flex justify-content-center">
        <button class="btn btn-primary btn-grad mt-4" @onclick="@(e => UriHelper.NavigateTo("/"))">Back to home</button>
    </div>

    @if (Local == null && !isDificultyPicked)
    {
        <h2 class="mt-5 mb-5">Choose Difficulty!</h2>
        <div class="flex-column">
            @foreach (Data.Enums.AIDifficulty difficulty in Enum.GetValues(typeof(Data.Enums.AIDifficulty)))
            {
                <button class="btn btn-primary btn-grad mt-4" @onclick="@(e => ChooseDifficulty(difficulty))">
                    @difficulty.ToString()
                </button>
            }
        </div>
    }

    @if (isDificultyPicked)
    {
        @if (GameManager.IsGameFinished)
        {
            <AlertDialog Title="@EndGameTitle" Content="@EndGameMessage" OnOkClicked="@PlayAgain"></AlertDialog>
        }

        <GameBoard GameManager="@GameManager" OnTileClicked="@((i) => HandleGameFinish(i))" PlayerCell="@GameManager.PlayerTurn"></GameBoard>
    }
</div>
