@page "/single-player/{local?}"
@inherits BoardComponent;

<div class="game-board-container">
    <h3>Single Player @Local</h3>

    <h5 class="mt-5">Player @(playerTurn == Data.Enums.BoardCell.X ? "X's" : "O's") turn</h5>

    <div class="game-board">
        @for (int i = 0; i < 9; i++)
        {
            int index = i;
            <div class="box">
                <button class="tile @(tiles[i].ToString().ToLower())" @onclick="@(e => ClickTile(index))">
                    @(tiles[i] == Data.Enums.BoardCell.EMPTY ? null : tiles[i])
                </button>
            </div>
        }
    </div>
</div>
